@import "~@voyo/core-style/lib/vars.scss";
@import "~@voyo/core-style/lib/mixins/mixins.scss";
@import "~@voyo/core-style/lib/components-var.scss";


:host{
  @include Flex-auto();
  min-width:$--voyo-tab-bar-item-mini-w;
  position:relative;
  background:$--voyo-tab-bar-bg;
}
.voyo-tabbar-item{
  @include ICenter();
  font-size:$--voyo-tab-bar-item-font-size;
  height:$--voyo-tab-bar-item-h;
  color:$--voyo-tab-bar-item-color;
  padding:$--voyo-tab-bar-item-padding;
  text-align:center;
  box-sizing: border-box;
  width:100%;
  &.__active{
    color:var(--color-primary);
  }
}
